@import 'variables';

@import 'bootstrap';

.bg-orange {
  background-color: #FFA726;
}

.navbar {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  .navbar-nav {
    flex-direction: row;

    .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
    }
  }
}

main {
  padding-top: 20px;
}

footer {
  display: flex;
  height: 60px;
  align-items: center;
}

@import 'photoeditor';
@import 'photopicker';
