@import 'variables';

@import '~bootstrap/scss/bootstrap';

.navbar {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  .navbar-nav {
    flex-direction: row;

    .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
    }
  }
}

main {
  padding-top: 20px;
}

@import 'photopicker';
